:root {
  --background-color: #202020;
  --text-color: #f2f2f2;

  --button-primary-color: #d93d3d;
  --button-secondary-color: #a63333;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 40px;
}
