.container {
  display: block;
  justify-content: flex-start;
  align-items: center;
  background-color: #111111;
  width: 100%;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
img {
  margin: 10px auto;
  width: 200px;
  height: 60px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-weight: 600;
  margin: 0 0 5px;
}

.sub {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
  color: var(--text-color);
}

input[type="file"] {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  color: var(--button-primary-color);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: var(--button-primary-color);
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--button-secondary-color);
}

.filter {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.filtroTecnico {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
select {
  background-color: var(--button-secondary-color);
  color: var(--text-color);
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--button-secondary-color);
}

select:hover {
  background-color: var(--button-primary-color);
}
