* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

body {
  background: #0D0D0D;
  margin: 0;
  padding: 40px;
}

.container {
  background: #ffffff;
  max-width: 950px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

img{
  
    margin: 10px auto;
    width: 200px;
    height: 50px;
}

h1 {
 font-family: "Montserrat", sans-serif;

 font-weight: 600;
  margin: 0 0 5px;
}

.sub {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
  color: #374151;
}

input[type="file"] {
  margin-bottom: 15px;
  color: #D93D3D;
}

.buttons {
  
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: #D93D3D;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #A63333;
}


.filter {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.filtroTecnico{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
select {
  background-color: #D93D3D;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #A63333;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #e5e7eb;
}

th, td {
  padding: 10px;
  border: 1px solid #d1d5db;
  text-align: left;
}

tbody tr:hover {
  background: #f9fafb;
}
